
<body style="background: black">
<div class="navbar navbar-expand-sm navbar-light navbar fixed-top d-flex justify-content-between">
  <div class="empty">
    <h6><a class="navbar-name" href="/cocktails">Suntory Whiskey Time</a></h6>
  </div>

  <a class="btn btn-primary" href="/cocktails/new">Make a new Suntory drink</a>

 <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

</div>

<h1></h1>
<div class="home-banner">
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th colspan="3">
      </th>
    </tr>
  </thead>

<div class ="container">
<div class="cards">
    <% @cocktails.each do |cocktail| %>
        <a href="" class="cocktail-card card-title d-flex flex-column justify-content-end align-content-start">
          <%= cocktail.name %>
          <%= link_to 'Show', cocktail_path(cocktail) %>
        <%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %>
    </a>
    <% end %>
  </div>
</div>
</table>
</body>
